---
export interface Props {
    id: string;
}

const { id } = Astro.props;
---

<div id=`${id}` class="w-full h-full container absolute">
    <div
        class="main-slot absolute w-full h-full flex justify-center items-center"
    >
        <slot />
    </div>
    <div
        class="copy-slot absolute w-full h-full flex justify-center items-center"
    >
        <slot />
    </div>
</div>

<style>
    .main-slot,
    .copy-slot {
        top: 0;
        left: 0;
        transition: all 0.8s;
    }

    .main-slot {
        clip-path: polygon(0 0, 100% 0%, 0% 100%);
    }

    .copy-slot {
        clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
    }

    .container.leave .main-slot {
        transform: translateX(-100vw) rotateY(90deg);
    }

    .container.leave .copy-slot {
        transform: translateX(100vw) rotateY(90deg);
    }

    .container.rotate {
    }
    /* .rotate {
        transform: rotateY(90deg);
    } */
</style>
