:root {

    --clr: #b7c9e5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.card {
    width: 300px;

}

.card__content {
    text-align: center;
    position: relative;
    height: 300px;
    transition: transform 3s;
    transform-style: preserve-3d;
    transition: transform 1s;

}

.rotate__card {
    transform: rotateY(0.5turn);

}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
}


.card__back {
    transform: rotateY(0.5turn);
    transition: transform 1s;
}

.content__description {
    transform: translateZ(100px);
}
