---
import Layout from '../layouts/Layout.astro';
import Banner from "../components/Banner/banner.astro"
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center items h-screen w-screen">
		<Banner />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
