---
import Layout from "../layouts/LayoutSimple.astro";
import SimpleIntro from "../components/simplePageComponents/SimpleIntro.astro";
import "./base.css";
---

<script>
    const mainElement = document.querySelector("main");
    mainElement!.addEventListener("wheel", (ev) => {
        ev.preventDefault(); // stop scrolling in another direction
        mainElement!.scrollLeft += ev.deltaY + ev.deltaX;
    });
</script>

<Layout title="simple portfolio">
    <main class="overflow-y-scroll h-screen text-gray-200">
        <div class="flex items-center justify-center fixed w-screen">
            <nav
                class="flex items-center z-10 w-screen justify-between m-auto mt-5 lg:mx-14 mx-2 contained"
            >
                <button class="btn" id="preview-cv">Preview CV</button>
                <ul class="flex items-center justify-center [&>li]:mr-3">
                    <li
                        class="hover:border-b-orange-300 hover:border-b-2 cursor-pointer"
                    >
                        About
                    </li>
                    <li
                        class="hover:border-b-orange-300 hover:border-b-2 cursor-pointer"
                    >
                        Projects
                    </li>
                    <li
                        class="hover:border-b-orange-300 hover:border-b-2 cursor-pointer"
                    >
                        Contact
                    </li>
                </ul>
            </nav>
        </div>
        <div
            class="flex overflow-y-visible defaultBackShadow md:mediumBackShadow bg-[#802200]"
        >
            <section class="intro h-screen w-screen">
                <SimpleIntro />
            </section>
            <div class="h-2 w-screen">
                <h1 class="text-black">ABCDE</h1>
            </div>
        </div>
    </main>
</Layout>

<style>
    /* section {
        scroll-snap-align: start;
    }

    main {
        scroll-snap-type: y mandatory;
    } */
</style>
