---
import FlipCard from "../Card/FlipCard/FlipCard";
const { id } = Astro.props;
---

<div
    class="flex flex-col items-center justify-start pt-20 lg m-auto h-screen w-screen"
>
    <h2 class="page-title">Projects</h2>
    <div class="self-start">
        <FlipCard id=`Flipcard-A` client:only="react">
            <h1 class="card__title">Abacaus</h1>

            <h2>BABABA</h2>
        </FlipCard>
    </div>
</div>

<style lang="scss">
    :root {
        --level-three: translateZ(9rem);
    }

    .card__title {
        font-size: 3.5rem;
        transform: var(--level-three);
        order: 2;
        text-transform: uppercase;
    }
</style>
