---
import FlipCard from "../Card/FlipCard.astro";
const { id } = Astro.props;
---

<!-- <div class="h-full w-full flex flex-col items-center justify-center">
    <h2>Personal Projects</h2>
    <div>
        <div class="max-w-[500px]">
            <p class="text-center">
                This is a 4 in a row game that I made overnight in 5hrs and has
                never been updated since. It serves as a reminder to me as to
                what I can achieve.
            </p><button> 4 in a row</button>
        </div>
        <div class="max-w-[500px]">
            <p class="text-center">
                Had to make a game a chess game with custom rules used in
                r/anarchychess subreddit due to which I couldnt use libraries
                like chess js or chessboard js therefore all the chess rules are
                coded from scratch like chess
            </p>
            <button> Anarchy chess</button>
        </div>
    </div>
</div> -->
<div
    class="flex flex-col items-center justify-start pt-20 lg m-auto h-screen w-screen"
>
    <h2 class="page-title">Projects</h2>
    <div class="self-start">
        <FlipCard id=`${id}-Flipcard-A` client:only="react">
            <div slot="card-front">
                <h1 class="card__title">Abacaus</h1>
            </div>
            <div slot="card-back">
                <h2>BABABA</h2>
            </div>
        </FlipCard>
    </div>
</div>

<style lang="scss">
    :root {
        --level-three: translateZ(9rem);
    }

    .card__title {
        font-size: 3.5rem;
        transform: var(--level-three);
        order: 2;
        text-transform: uppercase;
    }
</style>
