<div
    class="flex flex-col items-end justify-center pt-10 lg m-auto h-screen w-screen px-20"
>
    <h3 class="self-center mt-16">Nothing fancy here, I got bored</h3>
    <div class="flex self-center flex-1 flex-col items-center justify-center">
        <h3 class="text-center">
            Email me for any queries at : meher.s.gill@gmail.com.
        </h3>
        <h3 class="mt-10">
            Check out my linkedin <a
                class="text-orange-500 border-b-2 border-orange-500 pb-1"
                href="https://www.linkedin.com/in/meherwan-gill-71b337161/"
                >here</a
            >
        </h3>
        <h3 class="mt-10">
            Check out my github <a
                class="text-orange-500 border-b-2 border-orange-500 pb-1"
                href="https://github.com/meherGill">here</a
            >
        </h3>
    </div>
    <h2 class="page-title">Contact</h2>
</div>
