---
import "@fontsource-variable/montserrat";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portfolio site for Meher gill, a frontend / fullstack web dev"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline>
			const rootEl = document.documentElement;
			rootEl.style.setProperty("--screenWidth", `${screen.width}`);
			rootEl.style.setProperty("--screenHeight", `${screen.height}`);
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
		box-sizing: border-box;
		font-family: "Montserrat Variable", sans-serif;
		@media (prefers-reduced-motion: reduce) {
			*,
			::before,
			::after {
				animation-delay: -1ms !important;
				animation-duration: 1ms !important;
				animation-iteration-count: 1 !important;
				background-attachment: initial !important;
				scroll-behavior: auto !important;
				transition-duration: 0s !important;
				transition-delay: 0s !important;
			}
		}
	}
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);

		--screenHeight: 0px;
		--screenWidth: 0px;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	.pixelated {
		image-rendering: pixelated;
	}

	.contained {
		max-width: 1400px;
	}
</style>
