---
import "@fontsource/press-start-2p";
import { $theme } from "../stores/store";
export interface Props {
	title: string;
}
const { title } = Astro.props;
---

<script>
	import { $theme } from "@stores/store";

	const themeChangerButton = document.querySelector(
		"#themeChanger"
	) as HTMLInputElement;

	themeChangerButton.addEventListener("change", function () {
		if (this.checked) {
			this.classList.remove("unchecked");
			$theme.set("night");
		} else {
			this.classList.add("unchecked");
			$theme.set("garden");
		}
	});
	$theme.subscribe((val) => {
		document.documentElement.setAttribute("data-theme", val);
	});

	const themeChangerDiv = document.querySelector(
		"#themeChangerDiv"
	) as HTMLElement;

	themeChangerDiv!.addEventListener("mouseover", (mouse) => {
		const boundingClient = themeChangerButton.getBoundingClientRect();

		let width = boundingClient.right - boundingClient.left;
		let height = boundingClient.bottom - boundingClient.top;

		const centerY = boundingClient.top + height / 2;
		const centerX = boundingClient.x + width / 2;

		const currTranslate = window
			.getComputedStyle(themeChangerDiv)
			.translate.split(" ");

		let toTranslateX = "";
		let toTranslateY = "";
		if (currTranslate.length > 1) {
			const currTranslate_x = parseFloat(currTranslate[0]);
			const currTranslate_y = parseFloat(currTranslate[1]);
			if (mouse.screenX < centerX) {
				toTranslateX = `${currTranslate_x + width}px`;
			} else {
				toTranslateX = `${currTranslate_x - width}px`;
			}

			if (mouse.screenY < centerY) {
				toTranslateY = `${currTranslate_y + height}px`;
			} else {
				toTranslateY = `${currTranslate_y - height}px`;
			}
			themeChangerDiv!.style.translate = `${toTranslateX} ${toTranslateY}`;
		} else {
			themeChangerDiv!.style.translate = `1px 1px`;
		}
	});
</script>

<html lang="en" data-theme={$theme.value ?? "night"}>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portfolio site for Meher gill, a frontend / fullstack web dev"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div
			id="themeChangerDiv"
			class="absolute right-10 top-10 flex flex-col items-center p-5 z-50"
		>
			<input
				id="themeChanger"
				type="checkbox"
				class="toggle toggle-primary mb-3"
				checked
			/>
			<label for="themeChanger">Change Theme</label>
		</div>
		<slot />
	</body>
</html>
<style is:global>
	* {
		box-sizing: border-box;
	}
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	.pixelated {
		image-rendering: pixelated;
	}
</style>
<style>
	#themeChanger.unchecked {
		background-color: rgb(9, 168, 9);
	}

	#themeChangerDiv {
		transition: 100ms translate;
	}
</style>
