---
import TextLoader from "../textLoader";

const textToLoadInParts = [
    `Hello, I am Meher. A fullstack developer...`,
    `This page is quite redundant since you need to click this button`,
    `to go to the actual portfolio, but I worked really hard on this 2d sprite animation`,
    `So, it is what it is`
];
const indexesToPauseAt = [];
let textToLoad = "";
let lastIndex = 0;
for (let [_, text] of textToLoadInParts.entries()) {
    textToLoad += text;
    lastIndex = text.length + lastIndex;
    indexesToPauseAt.push(lastIndex);
}
const textToLoadArr = Array.from(textToLoad);
---

<div id="#banner" class="flex items-center lg:flex-row flex-col justify-center">
    <div class="sprite-animation-container lg:order-2 relative">
        <div class="character-spritesheet relative right-20 top-16 md:top-20">
            <img
                src="./programming_spritesheet_new.png"
                alt="programmer_gif.gif"
            />
        </div>
    </div>
    <div class="lg:w-[500px] w-[300px] min-h-16">
        <TextLoader
            text={textToLoadArr}
            indexes={indexesToPauseAt}
            client:only="react"
            startNextAnimationAtIndex={75}
        />
    </div>
</div>

<style lang="scss">
    :root {
        --pixel-size: 8;
        --image-dim: 64px;

        @media screen and (max-width: 400px) {
            --pixel-size: 5;
            --image-dim: 64px;
        }
    }
    .sprite-animation-container {
        width: calc(var(--image-dim) * var(--pixel-size));
        height: calc(var(--image-dim) * var(--pixel-size));
        overflow: hidden;
    }

    @keyframes moveSpritesheet {
        from {
            transform: translate3d(0px, 0, 0);
        }
        to {
            transform: translate3d(-100%, 0, 0);
        }
    }
    .character-spritesheet {
        animation: moveSpritesheet 2s steps(7) infinite;
        width: calc(var(--image-dim) * var(--pixel-size) * 7);
        height: calc(var(--image-dim) * var(--pixel-size));
    }

    .character-spritesheet > img {
        width: 100%;
        height: 100%;
        image-rendering: pixelated;
    }
</style>
